<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Recipe</title>
<link rel = 'stylesheet' href="/styles/realrecipes.css">
  </head>
  <body>
    <p>Here are your recipes:</p>
{% for result in results.results %}
      <section class="result">
        <div><img src="{{ result.thumbnail }}"></div>
        <div>{{ result.title }}</div>
        <div>{{ result.ingredients }}</div>
      </section>
    {% endfor %}
    <p><a href ='/>Search Again</a></p>
  </body>
</html>
